@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Nunito Sans', sans-serif;
}
.lead{
    font-family: 'Poiret One', cursive;
}
.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.left-menu{
    background-color: rgba(77,208,225 ,1);
    min-height: 100%;
    height: 100vh;
}
.brand{
    background-color: rgba(0,172,193 ,1);
}
.brand a {
    color:#fff;
    text-decoration: none;
}
.accordion-button{
    padding: 0.5rem 1rem;
    border:none;
    border-radius:0;
    position:relative
}
.accordion-button:focus{
    border: none;
    outline:0 !important;
    box-shadow: none;
}
.accordion-item:first-of-type .accordion-button{
    border-radius:0
}
.accordion-button:not(.collapsed){
    background-color: rgba(0,172,193 ,1);

}
.left-menu .nav-item:hover{
    background-color: rgba(0,172,193 ,1);

}
.accordion-button,
.left-menu .nav-item .nav-link{
    font-size:.9rem;
    font-weight:600;
    text-transform: uppercase;
    color:rgba(255,255,255,0.7);
    letter-spacing:2px;
}
.accordion-button:hover,
.left-menu .nav-item .nav-link:hover{
    color:#fff;
    transition: .5ms;
}
.accordion-button::after{
    display:none
}
.left-menu .circle-plus{
    position:absolute;
    right:5%;
    font-size:1.2em
}